.banner {
    background-color: rgb(5, 5, 89);
    border-radius: 10px;
    width: 1170px;
    margin: auto;
    padding-top: 30px;
    /* display: flex; */
    
}

.banner img {
    background-size: cover;
    width: 100%;
    /* height: auto; */
}

/* .bannerimg {
    width: 450px !important;
} */

/* .banner {

} */