body {
    /* background-color: #ede1e1; */
    font-family: 'Roboto', sans-serif;

}
.list {
    display: flex;
    justify-content: center;
    /* width: 900px; */
    /* background: rgba(240, 248, 255, 0.932); */
    border-radius: 10px;
    /* overflow: hidden; */
    padding: 80px;
}

.slider img {
    width: 500px;
}